/* Reset controls */
*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    max-width: 800px;
    margin: 10px auto;
}
.header {
    margin-bottom: 30px;
    background-color: #e7dfd5cb;
    border-radius: 10px ;
}

.description .text{
    color: rgb(0, 0, 0);
    font-size: 17px;
}

h1{
    text-align: center;
}
/* Using inline-block for positioning the image and the description */
img{
    max-width:30%;
    height: auto;
    border-radius: 10px 0 0 10px;
    /* inline-block */
    display: inline-block; 
    vertical-align:middle;
}

.description{
    margin-left: 20px;
    text-align: justify;


    /* inline-block */
    width: 60%;  
    vertical-align:middle;
    display: inline-block;
}
