/* Reset controls */
*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    max-width: 800px;
    margin: 0 auto;
}

/* Using inline-block for positioning the image and the description */
img{
    max-width:20%;
    height: auto;
    /* inline-block */
    display: inline-block;
    vertical-align:middle;
}

.description{
    margin-left: 10px;
    text-align: justify;

    
    /* inline-block */
    width: 500px;  
    vertical-align:middle;
    display: inline-block;
}
